{% extends 'includes/base.html' %}
{% load static %}


{% block title %}
<title>About Us - Our Farm</title>
{% endblock %}

{% block content %}
<main>
    <section>
        <h2 style='color: #4CAF50;'>Our Story</h2>
        <p>Welcome to AGRO Market! Our journey began in [Year] when [Founder's Name] decided to pursue a passion for sustainable farming. Nestled in the heart of [Location], we believe in growing fresh, organic produce that nourishes our community.</p>
    </section>
        
    <section>
        <h2 style='color: #4CAF50;'>Our Mission</h2>
        <p>At AGRO Market we are committed to providing high-quality, locally-sourced food. We use eco-friendly farming practices to ensure the health of our land and our customers.</p>
    </section>

    <section>
        <h2 style='color: #4CAF50;'>Meet the Team</h2>
        <p>Our dedicated team works tirelessly to cultivate the best crops. From planting to harvest, we take pride in every step of the process.</p>
    </section>
</main>
{% endblock %}