{% load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AGRO</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <section>
        
    </section>
    <h1 class="two"></h1>
    <img src="{% static 'images/agro logo.png' %}" alt="image">
    <div class="home">
        <button>Buy Products</button>
        <a href="agro.html" class="btn">Buy Products</a>

    </div>
    <div class="one">
        <a href="login.html">login</a>
        <a>| </a>
        <a href="signup.html"> signup</a>
    </div>
</body>
</html>