{% extends 'includes/base.html' %}
{% load static %}
{% block title %} Agro | Login Page {% endblock %} 
{% block css %}
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
{% endblock %}

{% block content %}
    <section class='bg-img'>
        <!-- Your section content if needed -->
    </section>
    <div class="center">
        <h1>Welcome Back!</h1>
        <h2>Login</h2>
        {% include 'includes/messages.html' %}
        <form id="loginForm" method="post">
            {% csrf_token %}
          <div class="txt_field">
            <input type="text" id="username" name='username' required>
            {% for errors in form.non_field_errors %}
            <span style='color:red'>{{errors}}</span>
            {% endfor %}
            <label>Username</label>
          </div>
          <div class="txt_field">
            <input type="password" id="password" name='password' required>
            <span></span>
            <label>Password</label>
          </div>
          <div class="pass">Forgot Password?</div>
          <input type="submit" value="Login">
          <div class="signup_link">
            Not a member? <a href="{% url 'home:register' %}">Signup</a>
          </div>
        </form>
</div>
{% endblock %}