{% extends 'includes/base.html' %}
{% load static %}
{% block title %}
Agro | Online Shopping
{% endblock title %}
{% block css %}
<link rel='stylesheet' href="{% static 'css/home.css' %}">
{% endblock %}
{% block content %}
<section class="bg-light py-4 my-5" style="min-height:600px;">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h4 class="mb-3">{{category_name}} Products</h4>
        <hr style="border-color:#b8bfc2;">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
            <li class="breadcrumb-item active"><a href="{% url 'products' %}" >All</a></li>
            {% for cata in catagory %}
            <li class="breadcrumb-item"><a href="{% url 'products_catagory' cata.id %}" >{{cata.catagory_name}}</a></li>
            {% endfor %}
          </ol>
        </nav>
        {% comment %} {% include 'shop/inc/message.html' %} {% endcomment %}
      </div>
      <div class="p-3 mb-2 bg-success text-white">{{display}}</div>
      {% for item in data %}
      <div class="col-md-4 col-lg-3">
        <div class="card my-3">
          <img src="{% static item.image %}"  class="card-image-top" alt="Categories" style="height:180px;width:259px;object-fit:cover">
          {% comment %} <a href="{% url 'productdetails' item.id %}"> {% endcomment %}
          <div class="card-body">
            <h5 class="card-title text-primary">{{ item.name }}</h5><small>({{item.catagory.catagory_name}})</small>
            <p class="card-text">
              <span class="float-start old_price"><s>Rs.{{ item.actuall_price | stringformat:'d'}}</s></span>
              <span class="float-end new_price">Rs.{{ item.new_price | stringformat:'d' }}</span>
            </p>
          </div>
        </a>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</section>
 
{% endblock content %}