{% comment %} 
{% extends 'includes/base.html' %}
{% load static %}
{% block title %}
    Register Page
{% endblock %}

{% block css%}
<link rel='stylesheet' href="{% static 'css/register.css' %}">
{% endblock %}

{% block content %}
    <div class="center">
        <h1>Welcome to AGRO!</h1>
        <h2>Signup</h2>
        <form id="signForm" method="post">
          <div class="txt_field">
            <input type="text" id="name" required>
            <span></span>
            <label>Name</label>
          </div>

          <div class="txt_field">
            <input type="number" id="age" required>
            <span></span>
            <label>Age</label>
          </div>

          <div class="txt_field">
            <input type="email" id="email" required>
            <span></span>
            <label>Email</label>
          </div>

          <div class="txt_field">
            <input type="text" id="username" required>
            <span></span>
            <label>Username</label>
          </div>

          <div class="txt_field">
            <input type="password" id="password" required>
            <span></span>
            <label>Password</label>
          </div>

          <input type="submit" value="Signup">
          <div class="signup_link">
            Already registered? <a href="login.html">Login</a>
          </div>
        </form>
    </div>

{% endblock %}
 {% endcomment %}

 {% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Signup Page - AGRO</title>
    <link rel="stylesheet" href="{% static 'css/register.css' %}">
</head>
<body>
    <section>
    </section>
    <h1 class="two"></h1>
    <img src="{% static 'images/Agro logo.png' %}" alt="AGRO Logo">  
    <div class="center">
        <h1>Welcome to AGRO!</h1>
        <h2>Signup</h2>
        <form id="signForm" method="post">
            {% csrf_token %}
        {% comment %} {% for fields in form %} {% endcomment %}
          <div class="txt_field">
            <input type="text" name='first_name' id="first_name" value='{{form.first_name.value | default:''}}' >
            {% if form.errors.first_name %}
              <span class='' style='color:red'>{{form.errors.first_name}}</span>
            {% endif %}
            <label>Name  </label>
          </div>

          <div class="txt_field">
            <input type="text" name='username' id="username"  value='{{form.username.value | default:''}}'> 
            {% if form.errors.username %}
               <span style='color:red'>{{form.errors.username}}</span>
            {% endif %}
            <label for="username" >username </label>
          </div>

          <div class="txt_field">
            <input type="email" id="email" name='email'  value='{{form.email.value | default:''}}'>
            {% if form.errors.email %}
                <span class='' style='color:red'>{{form.errors.email}}</span>
            {% endif %}
            <label>Email</label>
          </div>

          <div class="txt_field">
            <input type="password" id="password1" name='password'  value='{{form.password.value | default:''}}'>
            {% if form.errors.password %}
               <span style='color:red'>{{form.errors.password}}</span>
            {% endif %}
            <label>Password</label>
          </div>

          <div class="txt_field">
            <input type="password" id="password2" name='password2'  value='{{form.password2.value | default:''}}'>
            {% for error in form.non_field_errors %}
                <span class='' style='color:red'>{{error}}</span>
            {% endfor %}
            <label>Confirm Password</label>
          </div>

          <input type="submit" value="Signup">
          <div class="signup_link">
            Already registered? <a href="{% url 'home:login' %}">Login</a>
          </div>
        </form>
    </div>
</body>
</html>
