{% extends 'includes/base.html' %}
{% load static %}


{% block title %}
Agro |Services
{% endblock %}

{% block content %}

<main>
    <section id="about">
        <h2>About Us</h2>
        <p>We support local farmers in marketing their produce effectively and sustainably.</p>
    </section>

    <section id="services">
        <h2>Our Services</h2>
        <ul>
            <li>
                <h3>Marketing Consultation</h3>
                <p>We provide expert advice on how to market your products effectively.</p>
            </li>
            <li>
                <h3>Social Media Promotion</h3>
                <p>We help you leverage social media platforms to reach a wider audience.</p>
            </li>
            <li>
                <h3>Event Organization</h3>
                <p>We organize local events to promote your farm products directly to consumers.</p>
            </li>
            <li>
                <h3>Brand Development</h3>
                <p>Assistance in creating a strong brand identity for your farm.</p>
            </li>
        </ul>
    </section>

</main>
{% endblock %}
