{% extends 'includes/base.html' %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/upload.css' %}">
{% endblock %}
{% block title %}
    <title>Upload Product</title>
{% endblock %}

{% block content %}
    <header>
        <h1>Upload Your Product</h1>
    </header>

    <main>
        <section id="upload-form">
            <h2>Product Information</h2>
            <form action="/submit-product" method="POST">
                <label for="name">Product Name:</label>
                <input type="text" id="name" name="name" required>

                <label for="description">Description:</label>
                <textarea id="description" name="description" required></textarea>

                <label for="price">Price:</label>
                <input type="number" id="price" name="price" required step="0.01">

                <label for="image">Product Image URL:</label>
                <input type="url" id="image" name="image" required>

                <button type="submit">Upload Product</button>
            </form>
        </section>
    </main>

{% endblock %}