{% load static %}
<header>
    <!-- <div class="logo">FarmMarket</div> -->
     <div class="logo">
        <a href="{% url 'home' %}">
          <img src="{% static 'images/Agro logo.png' %}">
        </a>
    </div>
    <nav>
        <ul>
            <li><a href="{% url 'home' %}"><i class="fa fa-home"></i> Home</a></li>
            <li><a href="{% url 'about' %}"><i class="fa fa-info-circle"></i> About</a></li>
            <li><a href="{% url 'products' %}"><i class="fa fa-cubes"></i> Products</a></li>
            <li><a href="#"><i class="fa fa-cogs"></i> Services</a></li>
            <li><a href="#"><i class="fa fa-envelope"></i></i> Contact</a></li>
            {% if request.user.is_authenticated %}
            <li><a href="#"><i class="fa fa-users"></i> {{request.user.username}}</a></li>
            <li><a href="{% url 'logout' %}"><i class="fa fa-sign-out"></i></i> Logout</a></li> 
            {% else %}
            <li><a href="{% url 'register' %}"><i class="fa fa-user-plus"></i> Register</a></li>
            <li><a href="{% url 'login' %}"><i class="fa fa-sign-in"></i> Login</a></li>
            {% endif %}
        </ul>
    </nav>
</header>